.Form {
    border: none;
    border-bottom: 2px grey solid;
}
.Button {
    border: none;
    background-color: #505153;
    color: whitesmoke;
    border-radius: 50%;
    padding: 4px 10px;
    min-width: 70px;
    margin: 5px;
}
.Button:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: #505153;
}