.SearchBar input{
    border-radius: 5px;
    color: #505565;
    padding-left: 40px;
    margin-bottom: 16px;
}

.SearchIcon {
    position: absolute;
    font-size: 20px;
    padding: 9px;
    padding-left: 20px;
}

.SearchIcon:hover {
    cursor: pointer;
    color: whitesmoke;
}