.NavBar{
    background-color: black;
    position: fixed;
}

.Icon{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    width: 30%;
    text-align: center;
}

.Icon:hover{
    cursor: pointer;
    background-color:  rgba(255, 255, 2555, 0.128);
    border-radius: 15px;
    color: white;
    font-size:18px;
    font-weight: bolder;
    text-decoration: none;
}
.Icon span {
    padding-left: 10px;
}