.Post {
    background-color: azure;
    border: 2px solid grey;
    border-radius: 5px;
    margin-bottom: 16px;
    text-align: center;
}

.Heart{
    color:red;
}
.Heart:hover{
    color: grey;
}

.HearOutline:hover {
    color:red;
}
