.Container{
    margin: auto;
    padding: 180px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    color:white;
    text-align: center;
}
.Container h1 p{
    text-align: center;
}
.WelcomeButton{
    padding: 50px;
}