.WelcomeCard{
    height: 90vh;
    width: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Card{
    margin: 0;
    height: 50vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Heading{
    color: white;
}
.Heading h1 {
    font-size: 6rem;
}
.Heading h1:hover{
    color:rgb(229, 75, 75);
}
.Text{
    color: white;
}

.WelcomeButton{
    align-items: center;
    background: none;
    border-radius: 10px;
    color: white;
}

.WelcomeButton:hover{
    cursor: pointer;
    background-color: rgb(229, 75, 75);
}