

h1{
    font-family:'Tsukimi Rounded', sans-serif;
}

.App{
    display: flex;
    flex-direction: row;
}

.Navbarside{
    position: relative;
    flex:0.2;
}

.Main{
    flex:0.8;
    padding-left: 20px;
}