* {
    box-sizing: border-box;
}

.App{
    font-family: 'Tsukimi Rounded', sans-serif;;
    min-height: 100vh;
    background-color: black;  
}

i{
    color: blanchedalmond;
    padding: 8px;
    font-size: 1.3rem;
}

i:hover{
    font-size: 1.6rem;
}